* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Grid */
.red {
    clear: both;
    padding: 0;
    margin: 0;
    zoom: 1;
}

.red:before,
.red:after {
    content: '';
    display: table;
}

.red:after {
    clear: both;
}

.kolona {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.kolona:first-child {
    margin-left: 0;
}

.kolona.kolona-1 {
    width: 15.33%;
}

.kolona.kolona-2 {
    width: 32.26%;
}

.kolona.kolona-3 {
    width: 49.2%;
}

.kolona.kolona-4 {
    width: 66.13%;
}

.kolona.kolona-5 {
    width: 83.06%;
}

.kolona.kolona-6 {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .kolona {
        margin: 1% 0 1% 0;
    }

    .kolona.kolona-1,
    .kolona.kolona-2,
    .kolona.kolona-3,
    .kolona.kolona-4,
    .kolona.kolona-5,
    .kolona.kolona-6 {
        width: 100%;
    }

    .prijavljeni-korisnik {
        display: none;
    }
}

/* Generalno */
body {
    width: 100%;
    margin: 0 auto;
}

input, textarea {
    padding: 6px 12px;
    border: 1px solid #ac9fbb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a {
    color: #ac9fbb;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #ddbdd5;
}

a.button {
    font-size: 0.8em;
    margin-right: 0.2em;
}

a.button:last-child {
    margin-right: 0;
}

a.button,
button {
    color: #000;
    background-color: #f7ebec;
    border-color: #ac9fbb; 
    padding: 5px 10px;
    border: 1px solid #ac9fbb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

a.button:hover,
button:hover,
button:focus,
button:active {
    background-color: #ddbdd5;
    border-color: #ac9fbb; 
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

hr {
    border: none;
    height: 1px;
    background-color: #1d1e2c;
}

.detaljno {
    display: none;
}

.neispravan {
    color: #a94442;
}

.neispravan input {
    border-color: #a94442;
}

.neispravan .detaljno {
    display: block;
}

.tekst-desno {
    text-align: right;
}

.skriven {
    display: none;
}

/* Loading */
#loading {
    background: rgba(0, 0, 0, .25);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

#loading .ikona {
    font-size: 30px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

/* Zaglavlje */
header {
    width: 100%;
    background-color: #1d1e2c;
    padding: 5px;
}

header.odjavljen .right {
    line-height: 52px;
}

header.odjavljen .right input {
    margin-right: 5px;
}

header.odjavljen .right button {
    margin-left: 5px;
}

@media only screen and (max-width: 790px) {
    header.odjavljen .left {
        width: 100%;
    }

    header.odjavljen .right {
        width: 100%;
        text-align: center;
    }

    header.odjavljen .left img {
        display: block;
        margin: 0 auto;
    }

    header.odjavljen .right input {
        width: 45%;
    }
}

header.prijavljen {
    padding: 10px 20px;
}

header.prijavljen .meni,
header.prijavljen .logo,
header.prijavljen .pretraga {
    float: left;
    width: 33.33%;
    line-height: 52px;
}

header.prijavljen .meni ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

header.prijavljen .meni ul li {
    display: block;
    float: left;
    padding-right: 15px;
}

header.prijavljen .meni ul li:last-child {
    padding-right: 0;
}

header.prijavljen .logo img {
    margin: 0 auto;
    display: block;
}

header.prijavljen .pretraga {
    text-align: right;
}

header.prijavljen .min-640 {
    display: block;
}

header.prijavljen .max-640 {
    display: none;
}

header.prijavljen .hamburger-nav {
    float: left;
    width: 5%;
    line-height: 52px;
}

@media only screen and (max-width: 990px) {
    header.prijavljen .meni,
    header.prijavljen .logo {
        width: 50%;
    }

    header.prijavljen .logo img {
        float: right;
        clear: right;
    }

    header.prijavljen .pretraga {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    header.prijavljen .meni {
        width: 100%;
        display: none;
        text-align: center;
    }
    header.prijavljen .logo {
        width: 95%;
    }

    header.prijavljen .logo img {
        float: right;
        clear: right;
    }

    header.prijavljen .min-640 {
        display: none;
    }

    header.prijavljen .max-640 {
        display: block;
    }
}

/* Dropdown menu */
header.prijavljen .meni ul li ul {
    display: none;
    position: absolute;
    z-index: 2;
}

header.prijavljen .meni ul li:hover ul {
    display: block;
    background-color: #1d1e2c;
}

header.prijavljen .meni ul li ul li {
    border-bottom: 1px solid #ac9fbb;
    display: block;
    padding-left: 15px;
    width: 150px;
    float: none;
}

/* Galerija */
#galerija {
    position: relative;
}

#galerija img {
    display: none;
    width: 100%;
    cursor: pointer;
}

#galerija img.aktivna {
    display: block;
}

#galerija a {
    background-color: rgba(29, 30, 44, .05);
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
}

#galerija a.prethodna {
    top: 50%;
    left: 0;
}

#galerija a.naredna {
    top: 50%;
    right: 0;
}

#galerija-fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 4;
    display: none;
    outline: none;
}

#galerija-fullscreen img {
    display: block;
    margin: 10px auto;
}

/* Ostalo */
.kontejner {
    max-width: 850px;
    margin: 0 auto;
}

.posljednje-poruke {
    overflow-y: auto;
    height: 250px;
}

.poruka {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.poruka .slika-profila {
    width: 22%;
    float: left;
    margin-right: 10px;
}

.poruka .balon {
    width: 73%;
    float: left;
    position: relative;
    padding: 5px;
    background: #f7ebec;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    min-height: 5em;
}

.poruka .balon:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 23px 12px 0;
    border-color: transparent #f7ebec;
    display: block;
    width: 0;
    z-index: 1;
    left: -23px;
    top: 13px;
}

.forma-max input,
.forma-max select,
.forma-max button,
.forma-max textarea {
    width: 100%;
}

h1.ime-prezime {
    margin: 0;
}

span.korisnicko-ime {
    color: #777;
}

.trendovi {
    width: 100%;
    border: 2px solid #1d1e2c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    background-color: #f7ebec;
    padding: 10px;
}

.trendovi h3 {
    margin: 0;
}

.trendovi ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}

.trendovi ul li {
    margin-bottom: 10px;
}

.trendovi ul li:last-child {
    margin-bottom: 0;
}

.trendovi ul li span.broj-poruka {
    color: #777;
    font-size: 0.9em;
    display: block;
}

.strana {
    padding: 5px;
}

p.kratak-opis {
    text-align: justify;
    font-size: 14px;
}

.statistika {
    width: 100%;
    margin-bottom: 10px;
}

.statistika .podatak {
    display: block;
    width: 33%;
    text-align: center;
    float: left;
    font-size: 16px;
}

.profil-poruke {
    padding-left: 20px;
}

.profil-poruke .poruka .balon {
    width: 100%;
}

.profil-prati .korisnik {
    width: 100%;
    border: 1px solid #1d1e2c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

.profil-prati .korisnik .slika {
    width: 25%;
    float: left;
    margin-bottom: 5px;
}

.profil-prati .korisnik h3 {
    margin: 0;
}

.profil-prati button {
    width: 100%;
}

.forma-nalog button {
    width: auto;
}

.moja-slika {
    width: 100%;
}

.admin-meni {
    text-align: center;
}

.admin-meni ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.admin-meni ul li {
    display: inline;
    padding: 5px 15px;
    background-color: #1d1e2c;
    margin-right: 10px;
    border-radius: 5px;
}

.admin-meni ul li:last-child {
    margin-right: 0;
}

table th {
    text-align: left;
}

table td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.admin-korisnici,
.admin-poruke {
    width: 100%;
    margin-top: 15px;
}

.admin-korisnici .id {
    width: 5%;
}

.admin-korisnici .ime,
.admin-korisnici .prezime {
    width: 20%;
}

.admin-korisnici .email {
    width: 35%;
}

.admin-korisnici .akcije {
    width: 20%;
}

.admin-poruke .id {
    width: 5%;
}

.admin-poruke .korisnik {
    width: 20%;
}

.admin-poruke .tekst {
    width: 55%;
}

.admin-poruke .akcije {
    width: 20%;
}

.uspjeh {
    color: green;
}

header .pretraga ul {
    list-style: none;
    padding: 0 7px;
    margin: 0;
    position: absolute;
    right: 77px;
    top: 53px;
    background-color: #f7ebec;
    width: 166px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

header .pretraga ul li {
    padding: 7px 0;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid #3e405b;
    line-height: normal;
    font-size: 0.9em;
}

header .pretraga ul li:last-child {
    border-bottom: 0;
}

header .pretraga ul li a {
    color: #3e405b;
}

header .pretraga ul li a:hover {
    color: #5d618c;
}
.prati-btn {
    width: 100%;
}

.nova-poruka {
    width: 100%;
    height: 5em;
}