<header class="clearfix prijavljen">
    <div class="meni">
        <ul>
            <li>
                <a href="#prijavljen">
                    <i class="fa fa-home"></i>
                    Početna
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bell"></i>
                    Obavijesti
                </a>
            </li>
            <li>
                <a href="#nalog">
                    <i class="fa fa-user-circle"></i>
                    Moj nalog
                </a>
            </li>
        </ul>
    </div>
    <div class="logo">
        <a href="#prijavljen"><img src="images/logo.png" alt="BTC"></a>
    </div>
    <div class="pretraga">
        <form action="#" method="post">
            <input type="text" name="sta" placeholder="Traži...">
            <button type="submit">Traži</button>
        </form>
    </div>
</header>
<div class="kontejner">
    <div class="red">
        <div class="kolona kolona-2 strana prijavljeni-korisnik">
            <img class="moja-slika" src="images/user.png" alt="Korisnik">
            <h1 class="ime-prezime">Ime Prezime</h1>
            <span class="korisnicko-ime">korisnik</span>
            <p class="kratak-opis">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis vulputate urna, et finibus risus. Donec tristique, augue ac dictum luctus, leo elit tristique augue, nec porttitor quam dui id justo. Sed lacus neque, accumsan in dolor eget, posuere scelerisque orci. Pellentesque nisl turpis, tempor at urna non, pharetra venenatis nunc. Nam velit est, malesuada at ante at, pellentesque tincidunt risus. Suspendisse pulvinar metus quis nibh ultricies, non dictum felis convallis. Integer neque odio, rhoncus ac pharetra sed, sodales sed nibh.
            </p>
        </div>
        <div class="kolona kolona-4">
            <form action="#" method="post" class="forma-max forma-nalog">
                <div class="red">
                    <label for="ime" class="kolona kolona-2">Ime</label>
                    <div class="kolona kolona-4">
                        <input type="text" name="ime" id="ime">
                    </div>
                </div>
                <div class="red">
                    <label for="prezime" class="kolona kolona-2">Prezime</label>
                    <div class="kolona kolona-4">
                        <input type="text" name="prezime" id="prezime">
                    </div>
                </div>
                <div class="red">
                    <label for="email" class="kolona kolona-2">Email adresa</label>
                    <div class="kolona kolona-4">
                        <input type="text" name="email" id="email">
                    </div>
                </div>
                <div class="red">
                    <label for="opis" class="kolona kolona-2">O meni</label>
                    <div class="kolona kolona-4">
                        <textarea rows="5" name="opis" id="opis"></textarea>
                    </div>
                </div>
                <div class="red">
                    <label for="lozinka" class="kolona kolona-2">Nova lozinka</label>
                    <div class="kolona kolona-4">
                        <input type="text" name="lozinka" id="lozinka">
                    </div>
                </div>
                <div class="red">
                    <label for="lozinka-potvrda" class="kolona kolona-2">Potvrda lozinke</label>
                    <div class="kolona kolona-4">
                        <input type="text" name="lozinka-potvrda" id="lozinka-potvrda">
                    </div>
                </div>
                <hr>
                <div class="red">
                    <label for="trenutna-lozinka" class="kolona kolona-2">Trenutna lozinka</label>
                    <div class="kolona kolona-4">
                        <input type="text" name="trenutna-lozinka" id="trenutna-lozinka">
                    </div>
                </div>
                <div class="tekst-desno">
                    <button type="submit">Sačuvaj</button>
                </div>
            </form>
        </div>
    </div>
</div>