<header class="clearfix prijavljen">
    <div class="meni">
        <ul>
            <li>
                <a href="#prijavljen">
                    <i class="fa fa-home"></i>
                    Početna
                </a>
            </li>
            <li>
                <a href="#" id="obavijesti">
                    <i class="fa fa-bell"></i>
                    Obavijesti
                </a>
            </li>
            <li>
                <a href="#nalog">
                    <i class="fa fa-user-circle"></i>
                    Moj nalog
                </a>
            </li>
        </ul>
    </div>
    <div class="logo">
        <a href="#prijavljen"><img src="images/logo.png" alt="BTC"></a>
    </div>
    <div class="pretraga">
        <form action="#" method="post">
            <input type="text" name="sta" placeholder="Traži...">
            <button type="submit">Traži</button>
        </form>
    </div>
</header>
<div class="kontejner">
    <div class="red">
        <div class="kolona kolona-2 strana prijavljeni-korisnik">
            <img class="moja-slika" src="images/user.png" alt="Korisnik">
            <h1 class="ime-prezime">Ime Prezime</h1>
            <span class="korisnicko-ime">korisnik</span>
            <p class="kratak-opis">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis vulputate urna, et finibus risus. Donec tristique, augue ac dictum luctus, leo elit tristique augue, nec porttitor quam dui id justo. Sed lacus neque, accumsan in dolor eget, posuere scelerisque orci. Pellentesque nisl turpis, tempor at urna non, pharetra venenatis nunc. Nam velit est, malesuada at ante at, pellentesque tincidunt risus. Suspendisse pulvinar metus quis nibh ultricies, non dictum felis convallis. Integer neque odio, rhoncus ac pharetra sed, sodales sed nibh.
            </p>
        </div>
        <div class="kolona kolona-4">
            <div class="clearfix statistika">
                <a href="#profil" class="podatak">
                    <i class="fa fa-comment"></i>
                    Poruke<br>
                    10
                </a>
                <a href="#prati" class="podatak">
                    <i class="fa fa-check-circle"></i>
                    Prati<br>
                    10
                </a>
                <a href="#pratitelji" class="podatak">
                    <i class="fa fa-user-circle"></i>
                    Pratitelja<br>
                    10
                </a>
            </div>
            <hr>
            <div class="profil-prati">
                <div class="red">
                    <div class="kolona kolona-3">
                        <div class="korisnik">
                            <img class="slika" src="images/user.png" alt="Korisnik">
                            <h3>Ime Prezime</h3>
                            <span class="korisnicko-ime">korisnik</span>
                            <button type="button">Prestani pratiti</button>
                        </div>
                    </div>
                    <div class="kolona kolona-3">
                        <div class="korisnik">
                            <img class="slika" src="images/user.png" alt="Korisnik">
                            <h3>Ime Prezime</h3>
                            <span class="korisnicko-ime">korisnik</span>
                            <button type="button">Prestani pratiti</button>
                        </div>
                    </div>
                </div>
                <div class="red">
                    <div class="kolona kolona-3">
                        <div class="korisnik">
                            <img class="slika" src="images/user.png" alt="Korisnik">
                            <h3>Ime Prezime</h3>
                            <span class="korisnicko-ime">korisnik</span>
                            <button type="button">Prestani pratiti</button>
                        </div>
                    </div>
                    <div class="kolona kolona-3">
                        <div class="korisnik">
                            <img class="slika" src="images/user.png" alt="Korisnik">
                            <h3>Ime Prezime</h3>
                            <span class="korisnicko-ime">korisnik</span>
                            <button type="button">Prestani pratiti</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>