<header class="clearfix prijavljen">
    <div class="min-640">
        <div class="meni">
            <ul>
                <li>
                    <a href="#prijavljen">
                        <i class="fa fa-home"></i>
                        Početna
                    </a>
                </li>
                <li>
                    <a href="#" id="obavijesti">
                        <i class="fa fa-bell"></i>
                        Obavijesti
                    </a>
                </li>
                <li>
                    <a href="#nalog">
                        <i class="fa fa-user-circle"></i>
                        Korisnik
                    </a>
                    <ul>
                        <li>
                            <a href="#nalog">
                                <i class="fa fa-cogs"></i>
                                Postavke
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out"></i>
                                Odjavi se
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="logo">
            <a href="#prijavljen"><img src="images/logo.png" alt="BTC"></a>
        </div>
        <div class="pretraga">
            <form action="#" method="post">
                <input type="text" name="sta" placeholder="Traži...">
                <button type="submit">Traži</button>
            </form>
        </div>
    </div>
    <div class="max-640">
        <div class="hamburger-nav">
            <a href="#" id="toggle-menu"><i class="fa fa-bars"></i></a>
        </div>
        <div class="logo">
            <a href="#prijavljen"><img src="images/logo.png" alt="BTC"></a>
        </div>
        <div class="meni" id="max-640-meni">
            <ul>
                <li>
                    <a href="#prijavljen">
                        <i class="fa fa-home"></i>
                        Početna
                    </a>
                </li>
                <li>
                    <a href="#nalog">
                        <i class="fa fa-user-circle"></i>
                        Moj nalog
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-sign-out"></i>
                        Odjavi se
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="kontejner">
    <div class="red">
        <div class="kolona kolona-2 strana prijavljeni-korisnik">
            <div id="galerija">
                <a class="prethodna" href="#"><i class="fa fa-chevron-left"></i></a>
                <a class="naredna" href="#"><i class="fa fa-chevron-right"></i></a>
                <img class="aktivna" src="uploads/slika1.png" alt="Slika 1">
                <img src="uploads/slika2.png" alt="Slika 2">
                <img src="uploads/slika3.png" alt="Slika 3">
                <img src="uploads/slika4.jpg" alt="Slika 4">
            </div>
            <h1 class="ime-prezime">Ime Prezime</h1>
            <span class="korisnicko-ime">korisnik</span>
            <p class="kratak-opis">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis vulputate urna, et finibus risus. Donec tristique, augue ac dictum luctus, leo elit tristique augue, nec porttitor quam dui id justo. Sed lacus neque, accumsan in dolor eget, posuere scelerisque orci. Pellentesque nisl turpis, tempor at urna non, pharetra venenatis nunc. Nam velit est, malesuada at ante at, pellentesque tincidunt risus. Suspendisse pulvinar metus quis nibh ultricies, non dictum felis convallis. Integer neque odio, rhoncus ac pharetra sed, sodales sed nibh.
            </p>
        </div>
        <div class="kolona kolona-4">
            <div class="clearfix statistika">
                <a href="#profil" class="podatak">
                    <i class="fa fa-comment"></i>
                    Poruke<br>
                    10
                </a>
                <a href="#prati" class="podatak">
                    <i class="fa fa-check-circle"></i>
                    Prati<br>
                    10
                </a>
                <a href="#pratitelji" class="podatak">
                    <i class="fa fa-user-circle"></i>
                    Pratitelja<br>
                    10
                </a>
            </div>
            <hr>
            <div class="profil-poruke">
                <div class="clearfix poruka">
                    <div class="balon">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est justo, fringilla sed ornare quis, consectetur vel odio. Sed purus risus, porta a orci non, elementum accumsan nisi. Duis ultrices aliquet hendrerit. Aliquam erat volutpat.
                    </div>
                </div>
                <div class="clearfix poruka">
                    <div class="balon">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est justo, fringilla sed ornare quis, consectetur vel odio. Sed purus risus, porta a orci non, elementum accumsan nisi. Duis ultrices aliquet hendrerit. Aliquam erat volutpat.
                    </div>
                </div>
                <div class="clearfix poruka">
                    <div class="balon">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est justo, fringilla sed ornare quis, consectetur vel odio. Sed purus risus, porta a orci non, elementum accumsan nisi. Duis ultrices aliquet hendrerit. Aliquam erat volutpat.
                    </div>
                </div>
                <div class="clearfix poruka">
                    <div class="balon">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est justo, fringilla sed ornare quis, consectetur vel odio. Sed purus risus, porta a orci non, elementum accumsan nisi. Duis ultrices aliquet hendrerit. Aliquam erat volutpat.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>